*,
html {
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    border: none;
    scroll-behavior: smooth;
}

:root {
    --primary: rgb(0, 128, 255);
    --second: rgb(40, 91, 159);

}

#hamburger {
    display: none;
}

.revalda {
    display: none;
}

body {
    background-color: #00a3ff;
    font-family: 'poppins',sans-serif;
}

/* navbar start */
.navbar {
    top: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    position: fixed;
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 10%;
    font-size: 1.4rem;
    align-items: center;
    border-bottom: 2px solid white;
}

.navbar .navbar-logo {
    color: white;
    font-size: 2rem;
    font-weight: 600;
}

.navbar .menu-nav {
    align-items: center;
    font-size: 1.4rem;
}

.navbar .menu-nav a{
    color: white;
    margin: 0 1.5rem;
}
.navbar .menu-nav a:hover {
    color: black;
}

.navbar .navbar-content a {
    color: white;
    font-size: 2rem;
}

.navbar .navbar-content a:hover {
    color: black;
}

.navbar .menu-nav.active {
    left: 0;
}
/* navbar end */



/* hero section start */
.hero {
    margin-top: 8rem;
    padding: 0 3%;
    flex-wrap: wrap;
    animation: to-left-hero 2s ease forwards;
    -webkit-animation: to-left-hero 2s ease forwards;
}

.hero .hero-content h1 {
    font-size: 3rem;
    color: rgb(0, 0, 0);
}

.hero .hero-content h2 {
    font-size: 2rem;
    color: rgb(0, 0, 0);
}

.hero-content span {
    color: whitesmoke;
}

.hero .card-hero {
    width: 100%;
    margin-top: 5rem;
    display: flex;
    padding: 0 5%;
    justify-content: space-between;
}   

.card-hero img {
    height: 25rem;
    width: 15rem;
    object-fit: cover;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    border: 4px solid white;
    animation: to-left-hero 2s ease forwards;
    -webkit-animation: to-left-hero 2s ease forwards;
}

.hero .hero-about {
    padding-left: 4rem;
    margin: auto;
    animation: to-right-hero 2s ease forwards;
    -webkit-animation: to-right-hero 2s ease forwards;
}

.hero-about h2 {
    font-size: 4rem;
    color: white;
}

.card-hero .hero-about h3 {
    padding-top: 2rem;
    font-size: 2.5rem;
}

/* animation */
@keyframes to-right-hero {
    0% {
        transform: translateX(450px) ;
        opacity: 0;
        -webkit-transform: translateX(450px) ;
        -moz-transform: translateX(450px) ;
        -ms-transform: translateX(450px) ;
        -o-transform: translateX(450px) ;
}
    100% {
        transform: translateX(0);
        opacity: 1;
}
}

@keyframes to-left-hero {
    0% {
        transform: translateX(-100px) ;
        opacity: 0;
        -webkit-transform: translateX(-100px) ;
        -moz-transform: translateX(-100px) ;
        -ms-transform: translateX(-100px) ;
        -o-transform: translateX(-100px) ;
}
    100% {
        transform: translateX(0);
        opacity: 1;
}
}
/* animation end */

/* section campus */
.tentang h1 {
    margin-top: 10rem;
    display: inline-block;
    background-color: black;
    color: white;
    padding: 0 3%;
    font-size: 3rem;
    font-weight: 600;
    border-bottom: 2px solid white;
    border-top-right-radius: 1rem;
}

.about {
    margin-top: 2rem;
    padding: 1rem 3%;
    left: 0;
    right: 0;
    background-color:white;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.about .main-about .in-about p {
    font-size: 1.4rem;
    color: black;
}

.main-about .in-about span  {
    display: flex;
    margin-bottom: 1rem;
}

.title-project h1 {
    display: inline-block;
    margin-top: 10rem;
    padding: 0 3%;
    font-size: 3rem;
    font-weight: 600;
    color: white;
    border-bottom: 2px solid white;
    background-color: black;
    border-top-right-radius: 1rem;
}

/* projek */
.project {
    margin-top: 2rem;
    padding: 0 3%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.gambar {
    margin-top: 2rem;
    background-color: white;
    border: 3px solid white;
    justify-content: center;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.gambar img {
    height: 20rem;
    width: 30rem;
    object-fit: cover;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.gambar h2 {
    color: var(--primary);
    font-size: 2rem;
    margin-top: 0.5rem;
    padding: 0 2%;
}

.gambar p {
    padding: 0 2%;
}

.gambar a {
    display: inline-block;
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 1.5rem;
    margin-top: 1rem;
    padding: 0 2%;
    background-color: var(--primary);
    border-radius: 1rem;
}

.gambar a:hover {
    background-color: black;
}

/* section perpus start */
.perpus {
    padding: 8rem 0;
    margin-top: 10rem;
    min-height: 100vh;
    /* display: flex; */
    align-items: top;
    background-image:url(./img/Literature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:left;
    border-top: 5px solid white;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.perpus::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
}

.perpus-pembuka h1 {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    padding: 0 8%;
    display: inline-block;
    background-color: var(--primary);
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.perpus-pembuka h3 {
    color: white;
    font-size: 2.7rem;
    padding: 0 4%;
    margin-top: 1rem;
} 

.perpus-pembuka p {
    margin-top: 2rem;
    padding: 0 4%;
    font-size: 3rem;
    font-weight: 600;
    color: white;
}

.perpus-pembuka h4 {
    color: white;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 3rem;
    padding: 0 8%;
    display: inline-block;
    background-color: var(--primary);
    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

/* colection */
.card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.card-content {
    display: flex;
    background-color: violet;
    margin-top: 2rem;
    width: 15rem;
    border-radius: 1rem;
}
.card-content:hover {
    background-color: crimson;
}
.card-content1:hover {
    background-color: crimson;
}
.card-content2:hover {
    background-color: crimson;
}
.card-content3:hover {
    background-color: crimson;
}

.card-content a{
    color: white;
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
}

.card-content1 {
    display: flex;
    background-color: violet;
    margin-top: 2rem;
    margin-left: 1rem;
    width: 15rem;
    border-radius: 1rem;
}

.card-content1 a{
    color: white;
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
}

.card-content2 {
    display: flex;
    background-color: violet;
    margin-top: 2rem;
    margin-left: 1rem;
    width: 15rem;
    border-radius: 1rem;
}

.card-content2 a{
    color: white;
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
}

.card-content3 {
    display: flex;
    background-color: violet;
    margin-top: 2rem;
    margin-left: 1rem;
    width: 15rem;
    border-radius: 1rem;
}

.card-content3 a{
    color: white;
    padding: 1.5rem 1rem;
    font-size: 1.5rem;
}











/* mobile */
@media (max-width: 576px) {
    html {
        font-size: 55%;
    }

#hamburger {
    display: inline-block;
}

.navbar {
    padding: 1.2rem 3%;
}

.navbar .menu-nav .revalda {
    display: inline-block;
}

.navbar .menu-nav .revalda {
    color: black;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding: 2rem 0;
}

.navbar .navbar-content a {
    padding-left: 1rem;
}

.navbar .menu-nav {
    position: absolute;
    left: -100%;
    top: 0;
    height: 100vh;
    width: 25rem;
    background-color: white;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.navbar .menu-nav a {
    color: black;
    font-size: 2rem;
    display: flex;
    margin-top: 1rem;
    padding-top: 2rem;
    font-size: 1.6rem;
}


/* hero section */
.card-hero img {
    margin: auto;
    width: 30rem;
    height: 30rem;
    display: flex;
}

.hero .card-hero{
    flex-direction: column-reverse;
}

.hero .hero-about {
    padding: 2rem 0%;
    justify-content: center;
    margin-top: 3rem;
    text-align: center;
}

.hero .hero-about h2 {
    font-size: 2.4rem;
}

.hero .hero-about h3 {
    padding-top: 2rem;
    font-size: 2rem;
}
/* hero section end */
.project {
    padding: 0 10%;
}

.gambar img {
    width: 100%;
    height: 25rem;
}

.gambar h2 {
    font-size: 3rem;
}
.gambar p {
    font-size: 1.6rem;
}
.gambar a {
    margin-top: 2rem;
    font-size: 2rem;
}
/* hero end */

/* perpus start */
.perpus-pembuka h3 {
    margin-top: 1rem;
    font-size: 2.4rem;
}



.navbar .menu-nav.active {
    left: 0;
}
}




